In [1]:
import pandas as pd

In [2]:
column_values = [f"Column{i}" for i in range(1, 5)]
index_values = [chr(i) for i in range(65, 72)]

df = pd.DataFrame([[f"{ind}{col}" for col in range(1,5)] for ind in index_values],
                  index=index_values, columns=column_values)

df

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

## Update cells using loc or iloc
One or multiple cells can be set to a new value using loc or iloc.

- **df.iloc[:] = 0** Sets all cells to 0
- **df.iloc[0, 0] = 0** Sets cells[0, 0] to 0

In [3]:
copy = df.copy()
copy.iloc[1, 2] = "XX"
copy.iloc[0, :] = "YY"
copy.loc[["C", "E", "G"], ["Column2", "Column4"]] = "ZZ"
copy.iloc[:2, :2] = copy.iloc[-2:, -2:] + "XX"
copy.iloc[:, :] = 0
copy

  Column1 Column2 Column3 Column4
A       0       0       0       0
B       0       0       0       0
C       0       0       0       0
D       0       0       0       0
E       0       0       0       0
F       0       0       0       0
G       0       0       0       0

## Adding row or columns
Rows and columns can be added using loc (but not iloc)

In [4]:
copy = df.copy()
copy.loc["H"] = ["H1", "H2", "H3", "H4"]
copy.loc[:, "Column5"] = 0
copy.loc[:, "Column6"] = copy.loc[:, "Column1"] + "-" + copy.loc[:, "Column4"]
copy["Column7"] = copy["Column1"] + "-" + copy["Column6"]
copy.loc["I", ["Column3", "Column6"]] = 0
copy.loc["J", "new column"] = "HELLO!"
copy

  Column1 Column2 Column3 Column4  Column5 Column6   Column7 new column
A      A1      A2      A3      A4      0.0   A1-A4  A1-A1-A4        NaN
B      B1      B2      B3      B4      0.0   B1-B4  B1-B1-B4        NaN
C      C1      C2      C3      C4      0.0   C1-C4  C1-C1-C4        NaN
D      D1      D2      D3      D4      0.0   D1-D4  D1-D1-D4        NaN
E      E1      E2      E3      E4      0.0   E1-E4  E1-E1-E4        NaN
F      F1      F2      F3      F4      0.0   F1-F4  F1-F1-F4        NaN
G      G1      G2      G3      G4      0.0   G1-G4  G1-G1-G4        NaN
H      H1      H2      H3      H4      0.0   H1-H4  H1-H1-H4        NaN
I     NaN     NaN       0     NaN      NaN       0       NaN        NaN
J     NaN     NaN     NaN     NaN      NaN     NaN       NaN     HELLO!

## Renaming columns and indexes

In [5]:
copy = df.copy()
copy.columns = ["A", "B", "C", "D"]
copy.index = [0, 1, 2, 3, 4, 5, 6]
copy.rename(columns={"B": "Column B", "D": "Fredrik"}, inplace=True)
copy.rename(index={4: "Four"}, inplace=True)
copy

       A Column B   C Fredrik
0     A1       A2  A3      A4
1     B1       B2  B3      B4
2     C1       C2  C3      C4
3     D1       D2  D3      D4
Four  E1       E2  E3      E4
5     F1       F2  F3      F4
6     G1       G2  G3      G4

## Delete rows and columns

In [6]:
copy = df.copy()
copy.drop(index=["B", "F"], columns="Column3") # inplace=True to update "copy"

  Column1 Column2 Column4
A      A1      A2      A4
C      C1      C2      C4
D      D1      D2      D4
E      E1      E2      E4
G      G1      G2      G4