In [5]:
import pandas as pd
import seaborn as sns

In [6]:
titanic = pd.read_json("../data/titanic_encoded.json")

## Correlation analysis
Correlation analysis is a statistical technique used to examine the strength and direction of the relationship between two or more variables. It involves analysing the degree to which changes in one variable are associated with changes in another variable.

### Pandas .corr() method

Calculates the correlation coeffecients between all pairs of features in a dataframe, and returns a new dataframe with where the number of rows and columns

In [8]:
correlation_matrix = titanic.corr()
correlation_matrix

C:\Users\Jaket\AppData\Local\Temp\ipykernel_25840\1696369850.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = titanic.corr()

,survived,pclass,age,sibsp,parch,fare,embarked,adult_male,deck,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,0.180615,-0.557080,-0.294804,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,-0.222747,0.094035,0.743251,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.037348,0.280328,-0.267987,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.067084,-0.253586,0.041333,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.024781,-0.349943,-0.031308,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,0.258913,-0.182024,-0.525994,-0.271832
embarked,0.180615,-0.222747,0.037348,-0.067084,-0.024781,0.258913,1.000000,-0.084055,-0.239419,-0.085858
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,-0.084055,1.000000,0.098553,0.404744
deck,-0.294804,0.743251,-0.267987,0.041333,-0.031308,-0.525994,-0.239419,0.098553,1.000000,0.137515
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,-0.085858,0.404744,0.137515,1.000000

In [25]:
# Setting correlation threshold. Anything above this is considered as highly correlated.
threshold = 0.85

In [20]:
import numpy as np

upper = correlation_matrix.where(np.triu(np.ones(correlation_matrix.shape), k=1).astype(bool))

upper

,survived,pclass,age,sibsp,parch,fare,embarked,adult_male,deck,alone
survived,NaN,-0.338481,-0.077221,-0.035322,0.081629,0.257307,0.180615,-0.557080,-0.294804,-0.203367
pclass,NaN,NaN,-0.369226,0.083081,0.018443,-0.549500,-0.222747,0.094035,0.743251,0.135207
age,NaN,NaN,NaN,-0.308247,-0.189119,0.096067,0.037348,0.280328,-0.267987,0.198270
sibsp,NaN,NaN,NaN,NaN,0.414838,0.159651,-0.067084,-0.253586,0.041333,-0.584471
parch,NaN,NaN,NaN,NaN,NaN,0.216225,-0.024781,-0.349943,-0.031308,-0.583398
fare,NaN,NaN,NaN,NaN,NaN,NaN,0.258913,-0.182024,-0.525994,-0.271832
embarked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.084055,-0.239419,-0.085858
adult_male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.098553,0.404744
deck,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.137515
alone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
columns_to_drop = []

for i in range(len(correlation_matrix.columns)):
    columns_name = correlation_matrix.columns[i]
    # print(columns_name, end=": ")
    
    for j in range(i):
        # print(correlation_matrix.iloc[i, j], end=", ")  
        if correlation_matrix.iloc[i, j] > threshold:
            #row_name = correlation_matrix.columns[j]
            columns_to_drop.append(columns_name)
            break
    # print()
    
columns_to_drop

['deck']

In [22]:
titanic.drop(columns=columns_to_drop)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,0.0,Third,man,True,7,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,1.0,First,woman,False,2,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,0.0,Third,woman,False,7,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,0.0,First,woman,False,2,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,0.0,Third,man,True,7,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,0.0,Second,man,True,7,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,0.0,First,woman,False,1,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,0.0,Third,woman,False,7,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,1.0,First,man,True,2,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,NaN,Third,man,True,7,Queenstown,no,True