# Combining datasets
Pandas provides various facilities for easily combining to their Series or Dataframes.

- **Concat:** combining DataFrames across rows or columns
- **Join:** combining data on a key column and index.
- **Merge:** combining data on common columns or indexes.

In [1]:
from helpers import sample_df, hdisplay, nowrap_display
import pandas as pd

## Concat
Pandas .concat() method concatenates dataframe row-, or column wise,
with optional set logic (union or intersection) of the indexes on the other axis.

Concat simply stacks multiple dataframes together either vertically, or horizontally after aligning on row/column.

In [2]:
# Sample data
left = sample_df("A0", "D3", prefix="L_")
right = sample_df("A0", "D3", prefix="R_")

hdisplay([left, right], ["Left", "Right"])

,A,B,C,D
0,L_A0,L_B0,L_C0,L_D0
1,L_A1,L_B1,L_C1,L_D1
2,L_A2,L_B2,L_C2,L_D2
3,L_A3,L_B3,L_C3,L_D3
,A,B,C,D
0,R_A0,R_B0,R_C0,R_D0
1,R_A1,R_B1,R_C1,R_D1
2,R_A2,R_B2,R_C2,R_D2
3,R_A3,R_B3,R_C3,R_D3

In [3]:
hdisplay([
    pd.concat([left, right], axis="index"),
    pd.concat([left, right], axis="columns")],
    ["axis='index'", "axis='columns'"]
)

In [4]:
# pd.concat([left, right]).reset_index(drop=True)
# pd.concat([left, right]).set_index("C")

hdisplay([
    pd.concat([left, right], ignore_index=False),
    pd.concat([left, right], ignore_index=True),
    pd.concat([left, right], axis='columns', ignore_index=True)],
    ["ignore_index=False", "ignore_index=True", "axis='columns', ignore_index=True"]
)

In [5]:
# New sample data
left = sample_df("A0", "D3", prefix="L_")
right = sample_df("C2", "F5", prefix="R_")

hdisplay([left, right], ["Left", "Right"])

,A,B,C,D
0,L_A0,L_B0,L_C0,L_D0
1,L_A1,L_B1,L_C1,L_D1
2,L_A2,L_B2,L_C2,L_D2
3,L_A3,L_B3,L_C3,L_D3
,C,D,E,F
2,R_C2,R_D2,R_E2,R_F2
3,R_C3,R_D3,R_E3,R_F3
4,R_C4,R_D4,R_E4,R_F4
5,R_C5,R_D5,R_E5,R_F5

In [6]:
hdisplay([
    pd.concat([left, right], axis='index'),
    pd.concat([left, right], axis='columns', join='outer'),  # union (default)
    pd.concat([left, right], axis='columns', join='inner')], # intersection
    ["axis='index'", "axis='columns', join='outer'", "axis='columns', join='inner'"],
    20
)

In [7]:
hdisplay([
    pd.concat([left, right], axis='index', keys=['left', 'right']),
    pd.concat([left, right], axis='columns', keys=['left', 'right'])],
    ["axis='index', keys=['left', 'right']", "axis='columns', keys=['left', 'right']"]
)

### Join
Join first aligns the index of two dataframes, and then pick up the remaining columns from the aligned rows of each dataframe.

The **how** parameter can be any of the following:

- **left:** Get all rows from the left table, and join matching rows from the right table. (default)
- **right:** Get all rows from the right table, and join matching rows from the left table.
- **outer:** Get all rows from both tables, joing all matching rows on both sides. (union)
- **inner:** Get only rows that exists in both tables. (intersection)
- **cross:** Get every possible combination of rows from both tables. Length of new table == len(left) * len(right)

In [8]:
# New sample data
left = sample_df("A0", "D3", prefix="L").add_prefix("L")
right = sample_df("C2", "F5", prefix="R").add_prefix("R")
hdisplay([left, right], ["Left", "Right"])

,LA,LB,LC,LD
0,LA0,LB0,LC0,LD0
1,LA1,LB1,LC1,LD1
2,LA2,LB2,LC2,LD2
3,LA3,LB3,LC3,LD3
,RC,RD,RE,RF
2,RC2,RD2,RE2,RF2
3,RC3,RD3,RE3,RF3
4,RC4,RD4,RE4,RF4
5,RC5,RD5,RE5,RF5

In [9]:
hdisplay([
    left.join(right, how='left'),
    left.join(right, how='right')],
    ["how='left'", "how='right'"]
)

,LA,LB,LC,LD,RC,RD,RE,RF
0,LA0,LB0,LC0,LD0,nan,nan,nan,nan
1,LA1,LB1,LC1,LD1,nan,nan,nan,nan
2,LA2,LB2,LC2,LD2,RC2,RD2,RE2,RF2
3,LA3,LB3,LC3,LD3,RC3,RD3,RE3,RF3
,LA,LB,LC,LD,RC,RD,RE,RF
2,LA2,LB2,LC2,LD2,RC2,RD2,RE2,RF2
3,LA3,LB3,LC3,LD3,RC3,RD3,RE3,RF3
4,nan,nan,nan,nan,RC4,RD4,RE4,RF4
5,nan,nan,nan,nan,RC5,RD5,RE5,RF5

In [10]:
hdisplay([
    left.join(right, how='inner'),
    left.join(right, how='outer')],
    ["how='inner'", "how='outer'"]
)

,LA,LB,LC,LD,RC,RD,RE,RF
2,LA2,LB2,LC2,LD2,RC2,RD2,RE2,RF2
3,LA3,LB3,LC3,LD3,RC3,RD3,RE3,RF3
,LA,LB,LC,LD,RC,RD,RE,RF
0,LA0,LB0,LC0,LD0,nan,nan,nan,nan
1,LA1,LB1,LC1,LD1,nan,nan,nan,nan
2,LA2,LB2,LC2,LD2,RC2,RD2,RE2,RF2
3,LA3,LB3,LC3,LD3,RC3,RD3,RE3,RF3
4,nan,nan,nan,nan,RC4,RD4,RE4,RF4
5,nan,nan,nan,nan,RC5,RD5,RE5,RF5

In [11]:
left.join(right, how="cross")

     LA   LB   LC   LD   RC   RD   RE   RF
0   LA0  LB0  LC0  LD0  RC2  RD2  RE2  RF2
1   LA0  LB0  LC0  LD0  RC3  RD3  RE3  RF3
2   LA0  LB0  LC0  LD0  RC4  RD4  RE4  RF4
3   LA0  LB0  LC0  LD0  RC5  RD5  RE5  RF5
4   LA1  LB1  LC1  LD1  RC2  RD2  RE2  RF2
5   LA1  LB1  LC1  LD1  RC3  RD3  RE3  RF3
6   LA1  LB1  LC1  LD1  RC4  RD4  RE4  RF4
7   LA1  LB1  LC1  LD1  RC5  RD5  RE5  RF5
8   LA2  LB2  LC2  LD2  RC2  RD2  RE2  RF2
9   LA2  LB2  LC2  LD2  RC3  RD3  RE3  RF3
10  LA2  LB2  LC2  LD2  RC4  RD4  RE4  RF4
11  LA2  LB2  LC2  LD2  RC5  RD5  RE5  RF5
12  LA3  LB3  LC3  LD3  RC2  RD2  RE2  RF2
13  LA3  LB3  LC3  LD3  RC3  RD3  RE3  RF3
14  LA3  LB3  LC3  LD3  RC4  RD4  RE4  RF4
15  LA3  LB3  LC3  LD3  RC5  RD5  RE5  RF5

## Merge
Pandas .merge() method is similar to .join(), but is more versatile, and allow us to specify columns beside the index to join on for both dataframes.

Note: how parameter works thesame as for join(), butthe default for merge() is "inner", not "left"

In [12]:
# New sample data
left = sample_df("A0", "E3").add_prefix("L")
left.loc[:, "LF"] = ["F10", "F11", "F10", "F11"]
#left.loc[:, "LG"] = ["G10", "G11", "G12", "G13"]
right = sample_df("F10", "J13").add_prefix("R")
hdisplay([left, right], ["Left", "Right"])

In [13]:
left.merge(right, how='right', left_on='LF', right_on='RF')

    LA   LB   LC   LD   LE   LF   RF   RG   RH   RI   RJ
0   A0   B0   C0   D0   E0  F10  F10  G10  H10  I10  J10
1   A2   B2   C2   D2   E2  F10  F10  G10  H10  I10  J10
2   A1   B1   C1   D1   E1  F11  F11  G11  H11  I11  J11
3   A3   B3   C3   D3   E3  F11  F11  G11  H11  I11  J11
4  NaN  NaN  NaN  NaN  NaN  NaN  F12  G12  H12  I12  J12
5  NaN  NaN  NaN  NaN  NaN  NaN  F13  G13  H13  I13  J13

## Working with real data

In [14]:
employees = pd.read_json("../data/employees.json")
departments = pd.read_json("../data/departments.json")
display(employees)
display(departments)

FileNotFoundError: File ../data/employees.json does not exist

In [15]:
new_df = employees.merge(departments, left_on="department", right_on="department_name")
new_df

NameError: name 'employees' is not defined

In [16]:
grouped_df = (new_df.groupby(["department", "department_name", "department_head", "location", "office_number", "budget"]
                             ,as_index=False)
                    .agg(
                        number_of_employees = pd.NamedAgg(column="salary", aggfunc="count"),
                        average_salary = pd.NamedAgg(column="salary", aggfunc="mean"),
                    ))
nowrap_display(grouped_df)

NameError: name 'new_df' is not defined

In [17]:
users = pd.read_json("../data/users.json")
nowrap_display(users)

FileNotFoundError: File ../data/users.json does not exist

In [18]:
# employees.insert(0, "username", 
#                  employees['first_name'].apply(lambda name: name[:3].lower()) + 
#                  employees['last_name'].apply(lambda name: name[:3].lower()))

employees["username"] = (employees["first_name"].str[:3] + employees["last_name"].str[:3]).str.lower()
nowrap_display(employees)

NameError: name 'employees' is not defined

In [19]:
nowrap_display(employees.merge(users))

NameError: name 'employees' is not defined